
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
}




.register-container {
    display: flex;
    flex-direction: column;
    background-color: #0d2749;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    color: #ffffff;

}



.register-container h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #87cefa;
}

.register-container label {
    display: block;
    margin: 10px 0 5px;
}



.register-container input[type="text"],
.register-container input[type="password"],
.register-container input[type="email"]{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333333;
    outline: none;
    margin-bottom: 15px;
}
.logo {
    align-self: center;
}
img {
    width: 250px;
    height: 150px;
}

.register-container a {
    color: #87cefa;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.register-container a:hover {
    text-decoration: underline;
}

.register-container button {
    width: 100%;
    padding: 12px;
    background-color: #87cefa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #0d2749;
    font-size: 16px;
    margin-top: 20px;
}

.register-container button:hover {
    background-color: #6ab0dc;
}

.register-container h1 {
    text-align: center;
}




